  
{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p class="lead"> <br><br>This application is built on Python using the Flask framework and is for the ECE1779 - Introduction to Cloud Computing course offered at the University of Toronto. The course is taught by Professor Eyal de Lara. The application is an example of Serverless Computing. It is deployed on Amazon AWS.<br> <br> The project is undertaken by: <br> <br> Adeel Syed - 1004689688 <br> <br> Yogesh Iyer - 1005603438 <br> <br> Akshata Malghan - 1004966860 </p>
 
  </div>
{% endblock %}